/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Formas */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
